@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Header Styles  */
.banner {
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/Banner\ Image.png);
    font-family: "Merriweather", serif;
    width: 1320px;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin: 50px auto;
    border-radius: 16px;
}

.banner-title {
    
    text-align: center;
    color: #FFFFFF;
    padding-top: 15%;
}

.banner-title h4 {
    font-size: 32px;
    font-weight: normal;
}

.banner-title h2 {
    font-size: 72px;
    font-weight: bold;
    width: 632px;
    margin-left: 25%;
}

/*  Offer Styles  */
.offer-title {
    width: 802.9px;
    margin: 50px auto;
    text-align: center;
}

.offer-title h1 {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 48px;
}

.offer-title h6 {
    font-size: 24px;
    font-weight: medium;
    color: #FF0000;
    margin-bottom: 16px;
}

.offer-title h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}

/*  Welcome Banner Styles  */
.welcome-banner {
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/Vectorrr.png);
    position: relative;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    font-family: "Merriweather", serif;
    display: flex;
    margin-top: 120px;
    border-radius: 16px;
}

.welcome-banner-title {
    width: 60%;
    margin-left: 126px;
    margin-top: 126px;
}

.welcome-banner-title h2 {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    width: 642px;
    margin-bottom: 24px;
    letter-spacing: 11px;
}

.welcome-banner-title p {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    width: 697px;
    margin-bottom: 40px;
}

.welcome-banner-title button {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.welcome-banner-img {
    margin-top: 68px;
    margin-right: 138px;
    width: 320px;
}

.booking {
    background-image: linear-gradient(#ffe8e8, #FFFFFF);
    width: 1320px;
    height: 482px;
    display: block;
    text-align: center;
    border-radius: 16px;
    margin: 120px auto;
}

.booking-title {
    padding: 100px 385px;
    line-height: 56px;
}

.booking-title span {
    color: #FF0000;
    font-size: 32px;
    font-weight: 700;
}

.booking-title h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 700;
}

.booking button {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 0px;
}

/*  Coming Soon Styles  */
.coming-soon {
    display: flex;
    align-items: center;
    width: 1320px;
    margin: 120px auto;
}

.coming-soon-title {
    width: 393px;
    
}

.coming-soon-title h6 {
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-title h2 {
    font-family: "Merriweather", serif;
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    margin: 22px 0;
}

.coming-soon-title p {
    font-family: "Inter", sans-serif;
    color: #070211;
    font-size: 20px;
    font-weight: normal;
    width: 393px;
}

.coming-soon-img {
    width: 463px;
    height: 463px;
    border: 15px solid #FF0000;
    border-radius: 50%;
    display: flex;
    margin-left: 50px;
}

.coming-soon-img img {
    margin: 40px;
}

.coming-soon-offer {
    margin-left: 120px;
}

.coming-soon-offer h2 {
    font-family: "Inter", sans-serif;
    color: #FF0000;
    font-size:48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.coming-soon-offer p {
    font-family: "Inter", sans-serif;
    color: #070211;
    font-size: 20px;
    font-weight: normal;
}

.coming-soon-offer img {
    margin-top: 43px;
}

/*  Holidays Styles  */
.holidays-offer {
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.holidays-offer-title {
    width: 1068px;
    margin: 64px auto;
    text-align: center;
}

.holidays-offer-title h6 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    margin-bottom: 16px;
}

.holidays-offer-title h1 span {
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: bold;
    color: #FF0000;
}

.holidays-offer-title h1 {
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 28px;
}

.holidays-offer-title p {
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: normal;
    color: #070211;
    margin-bottom: 64px;
    padding: 0 90px;
}

.holidays-bg {
    margin: 0 140px;
}

.holidays-bg-left {
    margin-left: 130px;
}

.holidays-bg-right {
    width: 220px;
    margin-left: 280px;
    margin-bottom: 280px;
}

/*  Portfolio Styles  */
.portfolio {
    margin: 120px 300px;
}

.portfolio-img-grid1 {
    display: flex;
    gap: 24px;
}

.portfolio-img-grid2 {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.portfolio-title h6 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.portfolio-title h2 {
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 22px;
}

.portfolio-title p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #070211;
    margin-bottom: 48px;
    width: 896px;
}

/*  Newsletter Styles  */
.newsletter {
    margin: 0 300px 120px 300px;
    text-align: center;
    width: 1320px;
    height: 616px;
    background-color: #fff2f2;
    border-radius: 16px;
}

.newsletter-title {
    padding: 80px 212px 40px 212px;
}

.newsletter-title h3 {
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 22px;
}

.newsletter-title p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #070211;
    padding: 0 20px;
}

.form-box {
    padding: 10px;
    border: 20px;
    /* box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #FFFFFF; */
}

.form-box input {
    font-size: 18px;
    color: #070211;
    padding: 15px 10px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.form-box button {
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    background-color: #FF0000;
    cursor: pointer;
    transition: .3s;
}

/*  Footer Styles  */
footer {
    width: 100%;
    height: 609px;
    font-family: "Inter", sans-serif;
    background-color: #070211;
    color: #FFFFFF;
}

.footer-main {
    padding: 100px 140px;
}

.footer-titel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-titel h6 {
    font-size: 24px;
    font-weight: 500;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin: 48px 0;
    gap: 20px;
}

.footer-contact {
    margin-right: 120px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-copyright p {
    font-size: 24px;
    font-weight: 500;
}